/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://use.typekit.net/tur0zli.css');

/* Styles for the body */

body {
	font-family: 'Lato', sans-serif;
	color: #202030;
}

h1 {
	font-family: "Griffon";
	
}
h2, h4 {
	font-family: "Griffon";
	font-size:30px
	
}

h2 {
	text-shadow: 2px 2px 8px #26000A;
}

h5 {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	
}

li {
	font-family: 'Lato', sans-serif;
	
}
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #26000A;
	color: white
}

.resume-main {
	background-color: #FFFFFF;
}

.resume-aside {
	background-color: #530724;
	color: white;

}

.contact-icon {
	filter: invert(100%);
}

a:link {
	color:#ffffff;
}

a:visited {
	color: #84203E;
}

a:hover {
	color: #D695A5;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "✧";
	font-weight: 800;
	display: inline-block;
	width: 1.5em;
	margin-left: -1em;
	color:black;
}

.biography-details li::before {
	color: #530724;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

.biography-logo-max {
	margin-top: 80px;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.language-progress{
	background-color:rosybrown !important;
	
}

.border-2{
	border: none !important;
	
}

footer {
	background-color: #26000A !important;
}